    html {
        scroll-behavior: smooth;
        width: 100vw;
        overflow-x: hidden;
        background-color: rgb(255, 255, 255)
    }
    
    body {
        padding: 0;
        margin: 0;
        font-family: arial, sans-serif;
    }
    /*bilder*/
    
    .info_bild {
        width: 40vw;
    }
    
    .world_scouting {
        width: auto;
        height: 5rem;
    }
    
    .dpsg {
        width: auto;
        height: 5rem;
    }
    
    .axt {
        width: 30vw;
        height: 30vw;
        margin: 15px;
        float: right;
    }
    
    .bilder {
        display: flex;
        width: 90vw;
        margin: auto;
        overflow-x: scroll;
    }
    
    .bilder_galerie {
        width: 40rem;
        height: auto;
    }
    
    .lagerfeuer {
        visibility: hidden;
        display: none;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }
    
    .icon {
        width: 3.4rem;
        height: auto;
        margin-top: 20px;
    }
    
    .info_stamm {
        position: relative;
        bottom: 30vh;
        left: 2vw;
        color: #ffffff;
    }
    
    .telefon {
        display: grid;
        width: max-content;
        margin: auto;
    }
    
    .footer_inter_links_flex {
        display: flex;
        gap: 1.5rem;
        margin-top: 10px;
    }
    /*balken*/
    
    .balken {
        background-color: gray;
        width: 100vw;
        height: 20px;
        margin-top: 0;
    }
    
    .balken2 {
        background-color: gray;
        width: 100vw;
        height: 20px;
        margin-top: 30px;
    }
    /* Font */
    
    #table_text_e {
        color: gray;
        text-decoration: underline;
    }
    
    .info_text {
        width: 80vw;
        float: right;
    }
    
    .spruch {
        background-attachment: fixed;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position-x: unset;
        background-size: cover;
        background-image: url(bilder/berg_breit.jpg);
        color: #ffffff;
        background-color: #003056;
        width: 100vw;
        height: 100vh;
    }
    
    .spruch_text {
        font-size: 7vw;
        color: rgb(255, 255, 255);
    }
    
    .scroll {
        display: absolute;
        margin: auto;
        width: max-content;
        margin-top: -10rem;
        margin-bottom: 4.5rem;
        color: white;
        font-size: 4rem;
    }
    
    .ueberschrift {
        width: max-content;
        margin: auto;
        margin-top: 5vw;
        margin-bottom: .5vw;
    }
    
    .ueberschrift_text {
        font-size: 2rem;
        color: #003056;
        font-family: "Arvo", serif;
    }
    
    .unter_ueberschrift {
        font-size: 1.5rem;
        color: #003056;
        font-family: "Arvo", serif;
    }
    
    p {
        font-size: 1.25rem;
    }
    
    a {
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(0, 0, 0);
        justify-content: right;
    }
    
    li {
        list-style: disc;
    }
    /*tabelle*/
    
    .Tabelle1 {
        border: solid;
        width: max-content;
        margin: auto;
        border-collapse: collapse;
    }
    
    .tabelle_text {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    #table_text_e:hover {
        color: #810a1a;
    }
    
    .tabelle_titel {
        color: #810a1a;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    th {
        border-top: solid;
        border-bottom: solid;
    }
    
    #mehr {
        display: none;
    }
    
    .mehr_anzeigen {
        width: max-content;
        margin: auto;
        color: #810a1a;
        margin-bottom: 20px;
    }
    
    .info {
        display: flex;
        margin-left: 20vw;
        margin-right: 20vw;
    }
    
    .ueber_uns_text {
        width: 80vw;
        margin: auto;
        display: flex;
    }
    
    .geschichte {
        margin-right: 8rem;
    }
    
    .front {
        background-color: #1a1a0d;
        width: 100vw;
        justify-content: center;
        display: flex;
    }
    /*iframe*/
    
    .video {
        width: 80vw;
        height: 40vw;
        margin: auto;
        margin-bottom: 5vw;
    }
    
    .maps {
        width: 80vw;
        height: 40vw;
        margin: auto;
        margin-bottom: 110px;
    }
    /*navbar*/
    
    #menuToggle {
        display: block;
        position: relative;
        top: 50px;
        left: 50px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    
    #menuToggle a {
        text-decoration: none;
        color: #0d1408;
        transition: color 0.4s ease;
    }
    
    #menuToggle a:hover {
        color: rgb(162, 197, 22);
    }
    
    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
    }
    
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
    }
    
    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }
    
    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
    }
    
    #menu li {
        padding: 10px 0;
        font-size: 22px;
    }
    
    #menuToggle input:checked~ul {
        transform: none;
    }
    
    .navigation {
        top: 4rem;
        left: 0rem;
        position: fixed;
    }
    
    #hamnav {
        width: 100%;
        background: rgb(255, 255, 255);
        position: fixed;
        top: 0;
    }
    
    #hamitems {
        display: flex;
    }
    
    #hamitems a {
        flex-grow: 1;
        flex-basis: 0;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        color: #003056;
        background-color: white;
        font-family: 'Arvo', serif;
    }
    
    #hamitems a:hover {
        background: #003056;
        color: white;
    }
    
    #hamnav label,
    #hamburger {
        display: none;
    }
    /*kleiner bildschirm*/
    
    @media screen and (max-width: 800px) {
        .spruch {
            background-image: url(bilder/berg_schmal.jpg);
            background-position-x: center;
        }
        .spruch_text {
            font-size: 4rem;
        }
        .bilder_galerie {
            width: 25rem;
            height: auto;
        }
        .Tabelle1 {
            width: 90vw;
        }
        #hamitems a {
            box-sizing: border-box;
            display: block;
            width: 100%;
            border-top: 1px solid rgb(145, 150, 120);
            font-size: 1.5rem;
        }
        #hamnav label {
            display: inline-block;
            color: rgb(0, 0, 0);
            background: #ffffff;
            font-style: normal;
            font-size: 2.2em;
            padding: 10px;
        }
        #hamitems {
            display: none;
        }
        #hamnav input:checked~#hamitems {
            display: block;
        }
        .tabelle_text {
            font-size: .8rem;
            margin-left: .5rem;
            margin-right: .5rem;
        }
        #table_text_e {
            font-size: .8rem;
        }
        .tabelle_titel {
            margin-left: .5rem;
            margin-right: .5rem;
        }
    }
    /* popup */
    
    .popup {
        position: relative;
        display: flex;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .popup .popuptext {
        visibility: hidden;
        width: 200px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 90%;
        left: 50%;
        margin-left: -100px;
        display: flex;
    }
    
    .call {
        margin: 10px;
        color: #ffffff;
    }
    
    .popup .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }
    
    .popup .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }
    /*unten*/
    
    .footer {
        display: flex;
        gap: 1.5rem;
        padding-top: 20px;
        padding-bottom: 40px;
        padding-left: 40px;
        padding-right: 40px;
        margin: auto;
        width: max-content;
    }
    
    .footer_inter_links {
        width: max-content;
        margin: auto;
        display: flex;
    }
    
    .anmelden {
        color: white;
        margin: auto;
        width: max-content;
        margin-top: 25px;
    }
    
    .unten {
        width: 100vw;
        background-color: #810a1a;
    }